.group-child,
.laptop-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.group-child {
    background-color: var(--color-black);
    width: 100%;
}
.laptop-2 {
    width: 100%;
    background-image: url(/static/img/email_password/laptop1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.button,
.group-item {
    border: 0;
    position: absolute;
}
.button {
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    top: 247px;
    left: 73px;
    font-size: var(--font-size-xl);
    font-family: var(--font-inter);
    color: #438bf9;
    text-align: left;
    display: inline-block;
}
.group-item {
    background-color: var(--color-white);
    top: 143px;
    left: 0;
    border-radius: var(--br-24xl);
    width: 260px;
    height: 36px;
}
.b {
    top: 83px;
    left: 16px;
}
.b,
.email,
.icon {
    position: absolute;
}
.icon {
    top: 0;
    left: 57px;
    width: 145.8px;
    height: 86.8px;
    object-fit: cover;
}
.email {
    top: 149px;
    left: 104px;
    font-size: var(--font-size-xl);
    color: #c5c5c5;
}
.parent {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 260px;
    height: 271px;
}
.group-inner {
    position: absolute;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #06f2b1;
    top: 73%;
    left: 0;
    border-radius: var(--br-24xl);
    width: 264px;
    height: 38px;
}
.div {
    position: absolute;
    top: 18%;
    left: 27%;
    font-size: var(--font-size-xl);
    color: var(--color-black);
}
.rectangle-parent {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 32px;
    color: var(--color-white);
    font-family: var(--font-inter);
}
input {
    text-align: center;
}
input:focus::-webkit-input-placeholder {
    color:transparent;
}