body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-silver: #c5c5c5;
  --color-black: #000;
  --color-white: #fff;

  /* Border radiuses */
  --br-24xl: 43px;
}



/*
body {
  margin: 0;
  line-height: normal;
}

:root {
  !* fonts *!
  --font-inter: Inter;

  !* font sizes *!
  --font-size-8xl: 27px;

  !* Colors *!
  --color-black: #000;
  --color-white: #fff;

  !* Border radiuses *!
  --br-24xl: 43px;
}
*/
