.custom {
  position: absolute;
  left: 5%;
  top: 5%;
}
.b,
.div {
  position: absolute;
  top: 200px;
  left: 461.4px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 234.2px;
}
.div {
  top: 241px;
  width: 295.7px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
}
.group-inner,
.group-item {
  border-radius: var(--br-24xl);
}
.group-item {
  position: absolute;
  top: 35px;
  left: 714.4px;
  background-color: var(--color-darkslategray);
  width: 331.4px;
  height: 95px;
}
.group-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumspringgreen);
  top: 58px;
  left: 842.4px;
  width: 174.6px;
  height: 50px;
}
.b1,
.div1,
.group-inner {
  position: absolute;
}
.b1 {
  top: 56px;
  left: 740px/*752.1px*/;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray-100);
}
.div1 {
  text-align: center;
  top: 82px;
  left: 740px/*735px*//*757.1px*/;
  display: inline-block;
  width: 64.5px;
}
/*.dark-ring1,
.dark-ring2 {
  border: 1.5em solid var(--color-darkgray-200);
}*/
.dark-ring1,
.dark-ring2 {
  background-color: var(--color-darkgray-200);
}
.dark-ring2 {
  top: 390px;
}
.dark-ring1 {
  top: 171px;
}
.dark-ring1,
.dark-ring2,
.green-ring,
.blue-ring {
  position: absolute;
  left: 823.6px;
  border-radius: 50%;
  width: 175px;
  height: 175px;
}
.green-ring {
  top: 390px;
  --value: 100%;
  background: conic-gradient(var(--color-mediumspringgreen) var(--value), transparent 0);
}
.blue-ring {
  top: 171px;
  --value: 100%;
  background: conic-gradient(#438bf9 var(--value), transparent 0);
}
.div2 {
  position: absolute;
  top: 25%;
  left: 16%;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  display: inline-block;
  width: 118.1px;
  height: 27px;
}
.rectangle-div {
  position: absolute;
  top: 35px;
  left: 275.8px;
  border-radius: var(--br-24xl);
  background-color: var(--color-darkslategray);
  width: 383px;
  height: 95px;
}
.b2,
.div3 {
  position: absolute;
  top: 49px;
  left: 377.1px;
  display: inline-block;
  width: 234.2px;
  height: 34.8px;
}
.div3 {
  top: 84px;
  width: 295.7px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray);
  position: absolute;
  top: 171px;
  left: 275.8px;
  border-radius: var(--br-mid);
  width: 425.7px;
  height: 113px;
}
.b4,
.div5,
.exchange-1-icon {
  position: absolute;
  left: 377.1px;
}
.div5 {
  top: 383px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray-100);
}
.b4,
.exchange-1-icon {
  top: 350px;
}
.b3,
.div4 {
  position: absolute;
  display: inline-block;
}


.group-child4,
.group-child5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray);
  position: absolute;
  top: 322px;
  left: 275.8px;
  border-radius: var(--br-mid);
  width: 425.7px;
  height: 113px;
}
.group-child5 {
  top: 475px;
  left: 276px;
}

.exchange-1-icon {
  left: 299.7px;
  width: 58.5px;
  height: 58px;
  object-fit: cover;
}
.b5,
.cogwheel-1-icon,
.div6 {
  position: absolute;
  left: 377.1px;
}
.div6 {
  top: 537px;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray-100);
}
.b5,
.cogwheel-1-icon {
  top: 504px;
}
.cogwheel-1-icon {
  left: 301.6px;
  width: 55.6px;
  height: 55px;
  object-fit: cover;
}
.div7,
.div8 {
  width: 125px;
  height: 31px;
  text-align: center;
  position: relative;
  top: 570px;
  left: 860px;
  font-weight: 500;
}
.div8 {
  top: 320px;
  left: 860px;
}
.user-1-icon {
  position: absolute;
  top: 52px;
  left: 300.7px;
  width: 61.5px;
  height: 62px;
  object-fit: cover;
}
.chat-1,
.free-icon-control-panel-233339 {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.chat-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  /*top: 555px;*/
  bottom: 5%;
  /*left: 1220px;*/
  right: 5%;
  width: 53.6px;
  height: 54px;
  background-image: url(/static/img/main_page_public/chat1@2x.png);
}
.free-icon-control-panel-233339 {
  /*top: 559px;*/
  bottom: 5%;
  left: 5%/*36.7px*/;
  background-image: url(/static/img/main_page_public/freeiconcontrolpanel23333901@2x.png);
}
.free-icon-bell-1157000-1,
.free-icon-control-panel-233339,
.group-child6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  width: 53.6px;
  height: 54px;
}
.free-icon-bell-1157000-1 {
  background-color: transparent;
  top: 5%/*35px*/;
  /*left: 1220px;*/
  right: 5%;
  background-image: url(/static/img/main_page_public/freeiconbell11570001@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.group-child6 {
  background-color: #ff7465;
  top: 5%/*26px*/;
  left: 5%/*36.7px*/;
  border-radius: var(--br-24xl);
}
.free-icon-exit-1286969-1 {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 36.7px;
  height: 38px;
  object-fit: cover;
}
.div10,
.div9 {
  position: absolute;
  font-size: var(--font-size-mini);
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}
/*.div10,
.div9 {
  position: absolute;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 70.4px;
  top: 30%;
  left: 30%;
}*/
.parent {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.b3,
.b4,
.b5 {
  top: 22%;
  left: 22.5%;
  width: 269.9px;
  height: 35px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
  text-align: left;
}
.div4,
.div5,
.div6 {
  top: 53%;
  left: 23%;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray-100);
  text-align: left;
  width: 275px;
  height: 23px;
}
.telephone-call-1-icon,
.exchange-1-icon,
.cogwheel-1-icon {
  position: absolute;
  top: 21%;
  left: 5%;
  width: 59.5px;
  height: 60px;
  object-fit: cover;
}

/*
.b,
.div {
  position: absolute;
  top: 198px;
  left: 465px;
}
.div {
  top: 239px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%!*1290px*!;
  height: 100%!*1080px*!;
}
.group-inner,
.group-item {
  border-radius: var(--br-24xl);
  background-color: var(--color-darkslategray);
  width: 378px;
  height: 108px;
}
.group-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumspringgreen);
  top: 26px;
  left: 146px;
  width: 200px;
  height: 57px;
}
.b1 {
  top: 16px;
  left: 33px;
}
.b1,
.div1,
.div2 {
  position: absolute;
}
.div1 {
  top: 54px;
  left: 33px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.div2 {
  position: static;
  top: 50%;
  left: 50%;
  font-size: 27px;
  color: var(--color-black);
}
.rectangle-parent {
  position: absolute;
  top: 26px;
  left: 52%!*687px*!;  !*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ИЗМЕНИЛ*!
  width: 378px;
  height: 108px;
  font-size: 25px;
  color: var(--color-darkgray-100);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-24xl);
  background-color: var(--color-darkslategray);
  width: 439px;
  height: 108px;
}
.b2,
.div3 {
  position: absolute;
  top: 19px;
  left: 119px;
  display: inline-block;
  width: 236px;
  height: 34.8px;
}
.div3 {
  top: 55.6px;
  width: 298px;
}
.group-child1,
.rectangle-group {
  position: absolute;
  top: 26px;
  left: 20%!*225px*!;           !*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ИЗМЕНИЛ*!
  width: 439px;
  height: 108px;
}
.group-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-gray);
  width: 513px;
  height: 136px;
}
.b3,
.div4 {
  position: absolute;
  top: 79px;
  left: 121px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-inter);
  color: var(--color-darkgray-100);
  text-align: left;
}
.b3 {
  top: 31px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
}
.ellipse-div,
.telephone-call-1-icon {
  position: absolute;
  top: 33px;
  left: 28px;
  width: 71px;
  height: 71px;
}
.ellipse-div {
  border-radius: 50%;
  background-color: var(--color-white);
  display: none;
}
.telephone-call-1-icon {
  object-fit: cover;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 540px;
  left: 32.5%!*388px*!;     !*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ИЗМЕНИЛ*!
  width: 513px;
  height: 136px;
}
.exchange-1-icon {
  position: absolute;
  top: 33px;
  left: 29px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-button,
.rectangle-icon {
  position: absolute;
  width: 513px;
  height: 136px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 701px;
  left: 32.5%!* 388px*!;                  !*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ИЗМЕНИЛ*!
}
.rectangle-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
}
.cogwheel-1-icon {
  position: absolute;
  top: 35px;
  left: 31px;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 862px;
  left: 32.5%!*388px*!;
  width: 513px;
  height: 136px;
}
.b6 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
}
.div7 {
  top: 310px;
  left: 37px;
  color: var(--color-darkgray-100);
}
.div7,
.div8,
.div9 {
  position: absolute;
}
.div8 {
  top: 310px;
  left: 288px;
  color: var(--color-darkgray-100);
}
.div9 {
  top: 268px;
  left: 16px;
  font-size: var(--font-size-16xl);
  font-weight: 500;
}
.group-child5 {
  position: absolute;
  top: 79px;
  left: 1px;
  border-radius: 50%;
  border: 1.5em solid var(--color-mediumspringgreen);
  width: 110px;
  height: 110px;
}
.div10 {
  position: absolute;
  top: 268px;
  left: 276px;
  font-size: var(--font-size-16xl);
  font-weight: 500;
}
.group-child6 {
  left: 252px;
  border: 1.5em solid var(--color-darkgray-200);
}
.group-child6,
.group-child7,
.group-child8 {
  position: absolute;
  top: 79px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
.group-child7 {
  left: 1px;
  border: 1.5em solid var(--color-darkgray-200);
}
.group-child8 {
  left: 252px;
  border: 1.5em solid #438bf9;
}
.group {
  position: absolute;
  top: 174px;
  left: 35%!*435px*!;
  width: 427px;
  height: 337px;
  font-size: var(--font-size-3xl);
}
.user-1-icon {
  position: absolute;
  top: 45px;
  left: 22%!*253px*!;   !*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!ИЗМЕНИЛ*!
  width: 71px;
  height: 71px;
  object-fit: cover;
}
.chat-1,
.free-icon-control-panel-233339 {
  background-color: transparent;
  top: 982px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.chat-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  left: 90%!*1186px*!;
  width: 71px;
  height: 71px;
  background-image: url(/static/img/main_page_public/chat-1@3x.png);
}
.free-icon-control-panel-233339 {
  left: 27px;
  width: 76px;
  height: 76px;
  background-image: url(/static/img/main_page_public/freeiconcontrolpanel23333901@2x.png);
}
.free-icon-bell-1157000-1,
.free-icon-control-panel-233339,
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.free-icon-bell-1157000-1 {
  background-color: transparent;
  top: 2%!*45px*!;
  left: 90%!*1183px*!;
  width: 71px;
  height: 71px;
  background-image: url(/static/img/main_page_public/freeiconbell1157000-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-button {
  background-color: #ff7465;
  top: 2%;
  left: 3%;
  border-radius: var(--br-24xl);
  width: 70px;
  height: 70px;
}
.free-icon-exit-1286969-1 {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 45px;
  left: 27px;
  width: 70px;
  height: 70px;
}
.parent {
  position: absolute!*relative*!;
  width: 100%;
  height: 100%!*1080px*!;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}



!*
.b,
.div {
  position: absolute;
  top: 198px;
  left: 465px;
}
.div {
  top: 239px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
}
.group-inner,
.group-item {
  border-radius: var(--br-24xl);
  background-color: var(--color-darkslategray);
  width: 378px;
  height: 108px;
}
.group-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumspringgreen);
  top: 26px;
  left: 146px;
  width: 200px;
  height: 57px;
}
.b1 {
  top: 16px;
  left: 33px;
}
.b1,
.div1,
.div2 {
  position: absolute;
}
.div1 {
  top: 54px;
  left: 33px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.div2 {
  position: static;
  top: 50%;
  left: 50%;
  font-size: 27px;
  color: var(--color-black);
}
.rectangle-parent {
  position: absolute;
  top: 26px;
  left: 687px;
  width: 378px;
  height: 108px;
  font-size: 25px;
  color: var(--color-darkgray-100);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-24xl);
  background-color: var(--color-darkslategray);
  width: 439px;
  height: 108px;
}
.b2,
.div3 {
  position: absolute;
  top: 19px;
  left: 119px;
  display: inline-block;
  width: 236px;
  height: 34.8px;
}
.div3 {
  top: 55.6px;
  width: 298px;
}
.group-child1,
.rectangle-group {
  position: absolute;
  top: 26px;
  left: 225px;
  width: 439px;
  height: 108px;
}
.group-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-gray);
  width: 513px;
  height: 136px;
}
.b3,
.div4 {
  position: absolute;
  top: 79px;
  left: 121px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-inter);
  color: var(--color-darkgray-100);
  text-align: left;
}
.b3 {
  top: 31px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
}
.ellipse-div,
.telephone-call-1-icon {
  position: absolute;
  top: 33px;
  left: 28px;
  width: 71px;
  height: 71px;
}
.ellipse-div {
  border-radius: 50%;
  background-color: var(--color-white);
  display: none;
}
.telephone-call-1-icon {
  object-fit: cover;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 540px;
  left: 388px;
  width: 513px;
  height: 136px;
}
.exchange-1-icon {
  position: absolute;
  top: 33px;
  left: 29px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.group-button,
.rectangle-icon {
  position: absolute;
  width: 513px;
  height: 136px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 701px;
  left: 388px;
}
.rectangle-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
}
.cogwheel-1-icon {
  position: absolute;
  top: 35px;
  left: 31px;
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.vector-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 862px;
  left: 388px;
  width: 513px;
  height: 136px;
}
.b6 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
}
.div7 {
  top: 310px;
  left: 37px;
  color: var(--color-darkgray-100);
}
.div7,
.div8,
.div9 {
  position: absolute;
}
.div8 {
  top: 310px;
  left: 288px;
  color: var(--color-darkgray-100);
}
.div9 {
  top: 268px;
  left: 16px;
  font-size: var(--font-size-16xl);
  font-weight: 500;
}
.group-child5 {
  position: absolute;
  top: 79px;
  left: 1px;
  border-radius: 50%;
  border: 1.5em solid var(--color-mediumspringgreen);
  width: 110px;
  height: 110px;
}
.div10 {
  position: absolute;
  top: 268px;
  left: 276px;
  font-size: var(--font-size-16xl);
  font-weight: 500;
}
.group-child6 {
  left: 252px;
  border: 1.5em solid var(--color-darkgray-200);
}
.group-child6,
.group-child7,
.group-child8 {
  position: absolute;
  top: 79px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
.group-child7 {
  left: 1px;
  border: 1.5em solid var(--color-darkgray-200);
}
.group-child8 {
  left: 252px;
  border: 1.5em solid #438bf9;
}
.group {
  position: absolute;
  top: 174px;
  left: 435px;
  width: 427px;
  height: 337px;
  font-size: var(--font-size-3xl);
}
.user-1-icon {
  position: absolute;
  top: 45px;
  left: 253px;
  width: 71px;
  height: 71px;
  object-fit: cover;
}
.chat-1,
.free-icon-bell-1157000-1,
.free-icon-control-panel-233339 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 982px;
  left: 1186px;
  width: 71px;
  height: 71px;
  background-image: url(/static/img/main_page_public/chat-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.free-icon-control-panel-233339 {
  left: 27px;
  width: 76px;
  height: 76px;
  background-image: url(/static/img/main_page_public/freeiconcontrolpanel23333901@2x.png);
}
.free-icon-bell-1157000-1 {
  top: 45px;
  background-image: url(/static/img/main_page_public/freeiconbell1157000-1@3x.png);
}
.parent {
  position: relative;
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
*!
*/
